* {
	margin: 0;
}
.app {
	background-color: #fafafa;
}
.app__header {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	background-color: white;
	object-fit: contain;
	padding: 1.5% 2.5% 1%;
	border-bottom: 1px solid lightgray;
	justify-content: space-between;
}
.app__headerImage {
	object-fit: contain;
}
.app__signUp {
	display: flex;
	flex-direction: column;
}
.app__post {
	padding: 20px;
	display: flex;
	justify-content: center;
}
.app__postRight {
	margin-left: 20px;
}
.makeStyles-paper-1 {
	width: 80% !important;
	margin-left: auto;
}
.app__imageUpload {
	position: sticky;
	bottom: 0;
	z-index: 1;
	background-color: white;
}
